.product-container img {

    padding: 0.5rem;
    width: 100%;
    text-align: center;
    height: 150px;
    border-radius: 0.8rem;

}

.product-container {

     border: 3px solid rgb(121, 174, 151);
     border-radius: 5px;
     width: 22vw;
     height: 350px;
     position: relative;
}

.product-detail {

      padding: 0 0.5rem;

}

.product-detail p {

      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: medium;
}

.product-btn {

     background-color: #2e1010c6;
     color: white;
     width: 100%;
     position: absolute;
     bottom: 0;
     padding: 0.4rem;
     font-weight: bolder;
}

.product-btn:hover {

       background-color: #6167bac7;

}